strasheela/contributions/anders/Tutorial/xml-schema/tutorial.rnc

# A RELAX NG compact syntax pattern
# for the Strasheela tutorial examples

element chapter {
  attribute title { text },
  element section {
    attribute title { text },
    element subsection { 
      attribute title { text }?,
      element info { text? },     
      element oz { text? }
    }+
  }+
}
